* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    margin: 0;
}

#root {
    width: 100%;
    min-height: 100vh;
}

